<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Blockchain UI</title>

        <!-- Style CSS -->
        <link rel= stylesheet href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel= stylesheet href="{{ url_for('static', filename='css/material-dashboard.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />


        <!-- Scripts JS -->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            &nbsp;&nbsp;
            {% if session.logged_in %}
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            {% endif %}
            <a class="navbar-brand" href="/">Blockchain UI</a>
        </nav>
        <div id="layoutSidenav">
            {% if session.logged_in %}
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Menu</div>
                            <a class="nav-link" href="dashboard">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link collapsed" href="control" data-toggle="collapse" data-target="#collapseControl" aria-expanded="false" aria-controls="collapseControl">
                                <div class="sb-nav-link-icon"><i class="fas fa-cog"></i></div>
                                Control
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseControl" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="change_difficulty">Change Difficulty</a>
                                    <a class="nav-link" href="shutdown">Shutdown</a>
                                    <a class="nav-link" href="change_max_pending_txs">Change Max Peding Transactions</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser">
                                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                                User
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseUser" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="chain">Chain</a>
                                    <a class="nav-link" href="new_transaction">New Transaction</a>
                                    <a class="nav-link" href="pending_tx">Pending Transactions</a>
                                    <a class="nav-link" href="total_tx">All Transactions</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMiner" aria-expanded="false" aria-controls="collapseMiner">
                                <div class="sb-nav-link-icon"><i class="fas fa-hard-hat"></i></div>
                                Miner
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseMiner" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="mine">Mine</a>
                                    <a class="nav-link" href="chain">Chain</a>
                                    <a class="nav-link" href="validate_chain">Verify Chain</a>
                                    <a class="nav-link" href="pending_tx">Pending Transactions</a>
                                </nav>
                            </div>
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fab fa-github"></i></div>
                                Github
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            {% endif %}
            <div id="layoutSidenav_content">
                <main>
                    {% block main %}{% endblock %}
                </main>
            </div>
        </div>
    </body>
</html>
