{% extends "index.html" %}
{% block main %}
{% if session.logged_in %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-3">{{ title }}</h3></div>
                            <div class="card-body">
                                <form method=post>
                                    <div class="form-group">
                                        <label class="small mb-1" for="input1">{{ label1 }}</label>
                                        <input class="form-control py-4" id="input1" name="input1" type="{{ type1 }}" required/>
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="input2">{{ label2 }}</label>
                                        <input class="form-control py-4" id="input2" name="input2" type="{{ type2 }}" required/>
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <button class="btn btn-primary" type="submit">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endif %}
{% endblock %}